.main {
  display: grid;
  gap: 2rem;
  justify-items: stretch;
  align-content: start;
  justify-content: stretch;
  padding: 5rem;
  background: url('/soft-rainbow.svg');
  background-size: cover;
  background-repeat: no-repeat;
  justify-items: center;
}
